/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts12
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts13
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts15
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts17, span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts19
{
 font-size: 16pt;
}
span.rvts20
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts22
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts23
{
 font-size: 12pt;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts25
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts26
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts27
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts28
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts30
{
 font-size: 12pt;
 color: #000000;
}
span.rvts31
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts32
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts33
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts34
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts35
{
 font-size: 12pt;
}
span.rvts36
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts37
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts38
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 0px 0px 8px 0px;
}
.rvps5
{
 margin: 0px 0px 0px 40px;
}
.rvps6
{
 margin: 0px 0px 16px 40px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 19px 0px;
}
.rvps8 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 19px 0px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 21px 0px;
}
.rvps12
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 20px 0px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
}
.rvps14
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 19px 0px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 8px 0px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 40px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 8px 40px;
}
.rvps18
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 80px;
}
.rvps19
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 8px 80px;
}
.rvps20
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 16px 40px;
}
.rvps21
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 120px;
}
.rvps22
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 8px 120px;
}
.rvps23
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 8px 0px 8px;
}
.rvps24
{
 text-align: center;
 margin: 0px 0px 8px 0px;
}
.rvps25
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 21px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside;}
li.noindent { margin-left: 0; padding-left: 0; }
