<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-container">
  <div class="register-box">
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Localización</ion-label>
      <ion-input type="text" [(ngModel)]="localizacion"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Foto de Perfil (URL)</ion-label>
      <ion-input type="text" [(ngModel)]="fotoPerfil"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Foto de Fondo Perfil (URL)</ion-label>
      <ion-input type="text" [(ngModel)]="fotoFondoPerfil"></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" (click)="register()"
      >Registrarse</ion-button
    >
  </div>
</ion-content>
