<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="comentarios-content">
  <section *ngIf="comentarios.length > 0; else noData">
    <div *ngFor="let comentario of comentarios" class="comentario-card">
      <div class="comentario-contenido" *ngIf="!editandoComentario || editandoComentario.idComentario !== comentario.idComentario">
        <div class="comentario-header">
          <span class="comentario-email">{{ comentario.usuario?.email || 'Usuario' }}</span>
          <span class="comentario-fecha">{{ comentario.fecha | date: 'short' }}</span>
        </div>
        <p class="comentario-texto">{{ comentario.texto }}</p>
        <div class="comentario-actions" *ngIf="idUsuario === comentario.usuario?.idUsuario">
          <ion-icon name="create-outline" (click)="editarComentario(comentario)"></ion-icon>
          <ion-icon name="trash-outline" color="danger" (click)="eliminarComentario(comentario.idComentario)"></ion-icon>
        </div>
      </div>

      <div *ngIf="editandoComentario?.idComentario === comentario.idComentario" class="comentario-edicion">
        <ion-input [(ngModel)]="editandoComentario.texto" placeholder="Editar comentario"></ion-input>
        <div class="edicion-actions">
          <ion-button size="small" fill="clear" color="success" (click)="guardarEdicion()">Guardar</ion-button>
          <ion-button size="small" fill="clear" color="medium" (click)="cancelarEdicion()">Cancelar</ion-button>
        </div>
      </div>
    </div>
  </section>

  <ng-template #noData>
    <div class="no-comentarios">Aún no hay comentarios. Sé el primero en opinar.</div>
  </ng-template>

  <div class="nuevo-comentario">
    <ion-input [(ngModel)]="nuevoComentario" placeholder="Escribe tu opinión..." class="comentario-input"></ion-input>
    <ion-button size="small" (click)="agregarComentario()" class="comentario-boton">Enviar</ion-button>
  </div>
</ion-content>
