<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comentarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="comentarios.length > 0; else noData">
    <ion-item *ngFor="let comentario of comentarios">
      <div
        *ngIf="!editandoComentario || editandoComentario.idComentario !== comentario.idComentario"
      >
        <ion-label>
          <h2>{{ comentario.usuario?.email || 'Anónimo' }}</h2>
          <p>{{ comentario.texto }}</p>
          <small>{{ comentario.fecha | date: 'short' }}</small>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="editarComentario(comentario)" color="warning">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button
            (click)="eliminarComentario(comentario.idComentario)"
            color="danger"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div
        *ngIf="editandoComentario && editandoComentario.idComentario === comentario.idComentario"
      >
        <ion-input [(ngModel)]="editandoComentario.texto"></ion-input>
        <ion-button (click)="guardarEdicion()" color="success"
          >Guardar</ion-button
        >
        <ion-button (click)="cancelarEdicion()" color="medium"
          >Cancelar</ion-button
        >
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-item>
      <ion-label>No hay comentarios disponibles.</ion-label>
    </ion-item>
  </ng-template>

  <ion-item>
    <ion-input
      [(ngModel)]="nuevoComentario"
      placeholder="Escribe un comentario..."
    ></ion-input>
    <ion-button (click)="agregarComentario()" color="primary"
      >Enviar</ion-button
    >
  </ion-item>
</ion-content>
