<ion-header>
  <ion-toolbar>
    <ion-title>Deportes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" [routerLink]="['/deporte/new']">Añadir Deporte</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let deporte of deportes; let i = index">
        <div 
          class="activities-card"
          [style.backgroundImage]="'url(' + deporte.imagen + '?timestamp=' + i" 
          [style.animationDelay]="i * 0.2 + 's'">
          <div class="activities-card-text">
            <h3>{{ deporte.nombre }}</h3>
            <p>{{ deporte.tipo }}</p>
            <ion-button expand="block" color="primary" [routerLink]="['/actividades', deporte.idDeporte]">Ver Actividades</ion-button>
            <ion-button expand="block" color="primary" [routerLink]="['/deporte', deporte.idDeporte]">Editar</ion-button>
            <ion-button expand="block" color="danger" (click)="deleteDeporte(deporte.idDeporte)">Eliminar</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
