<ion-header>
  <ion-toolbar>
    <ion-title>Actividades</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        [routerLink]="'/actividad/new'"
        [state]="{ deporteId: deporteId }"
      >
        <ion-icon name="add-circle-outline"></ion-icon> Añadir Actividad
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let actividad of actividades">
      <ion-grid>
        <ion-row class="align-items-center">
          <!-- Imagen -->
          <ion-col size="12" size-md="2">
            <ion-thumbnail>
              <img
                [src]="'assets/images/' + actividad.imagen"
                alt="{{ actividad.nombre }}"
              />
            </ion-thumbnail>
          </ion-col>

          <!-- Detalles de la actividad -->
          <ion-col size="12" size-md="6">
            <ion-label>
              <h2>{{ actividad.nombre }}</h2>
              <p>{{ actividad.descripcion }}</p>
              <p><strong>Precio:</strong> ${{ actividad.precio }}</p>
              <p><strong>Valoración:</strong> {{ actividad.valoracion }} / 5</p>
            </ion-label>
          </ion-col>

          <!-- Botones -->
          <ion-col size="12" size-md="4" class="botones-container">
            <ion-button
              fill="clear"
              color="secondary"
              [routerLink]="['/comentarios', actividad.idActividad]"
            >
              <ion-icon name="chatbubbles-outline"></ion-icon> Ver Comentarios
            </ion-button>
            <ion-button
              fill="clear"
              color="warning"
              [routerLink]="['/actividad', actividad.idActividad]"
            >
              <ion-icon name="create-outline"></ion-icon> Editar
            </ion-button>
            <ion-button
              fill="clear"
              color="danger"
              (click)="eliminarActividad(actividad.idActividad)"
            >
              <ion-icon name="trash-outline"></ion-icon> Eliminar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
